<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <script src="../../Scripts/underscore.js" type="text/javascript"></script>
    <script src="../../Scripts/backbone.js" type="text/javascript"></script>
    <script src="../../Scripts/handlebars-1.0.0.beta.6.js" type="text/javascript"></script>
    <script src="../../Scripts/namespace.js" type="text/javascript"></script>
    <script src="../../Scripts/blog/blog.model.js" type="text/javascript"></script>
    <script src="../../Scripts/blog/blog.collection.js" type="text/javascript"></script>
    <script src="../../Scripts/blog/blog.views.js" type="text/javascript"></script>
    <script src="../../Scripts/blog/blog.routing.js" type="text/javascript"></script>
    <script src="../../Scripts/blog/blog.js" type="text/javascript"></script>

</head>
<body>
    @RenderBody()
</body>
</html>
